$black: #282828;
$point: #593cfb;
$point-light: lighten($point, 5%);

$ratio: 1.618;
$card_width: 300px;
$card_height: 100px;
$card_padding: 35px;
$card-bgcolor: white;
$card_margin: 5px;
$card_round: 10px;
$card-shadow: -20px -20px 0px 0px $point-light;

$card-padding-basis: 15px;
$card_head_padding: 0px 0px $card-padding-basis 0px;

.containerEmail {
  width: 80%;
  min-height: 100vh;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;
}

.centerEmail {
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cardEmail {
  width: $card_width;
  min-height: $card_height;

  display: flex;
  padding: $card_padding;
  margin-top: 200px;

  box-shadow: $card-shadow;
  border-radius: $card_round;

  animation-name: shadow-show;
  animation-duration: 1.5s;

  -o-transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1); /* custom */

  img {
    height: 80px;
    width: 80px;
  }

  h1 {
    margin-top: 10px;
    font-family: 'Basis Grotesque Pro Bold';
    font-size: 30px;
    color: $black;
  }

  hr {
    display: block;
    border: none;
    height: 3px;
    background-color: $point;
    margin: 0px;

    -webkit-animation-name: line-show;
    -webkit-animation-duration: 0.3s;
    animation-name: line-show;
    animation-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    -o-transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
    transition-timing-function: cubic-bezier(0.795, 0, 0.165, 1);
  }

  p {
    margin: $card-padding-basis 0px 0px 0px;
    font-family: 'Basis Grotesque Pro';
    letter-spacing: -0.25px;
    line-height: 1.25;
    font-size: 16px;
    color: $black;
    padding-bottom: 5px;

    -webkit-animation-name: p-show; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1.5s; /* Safari 4.0 - 8.0 */
    animation-name: p-show;
    animation-duration: 1.5s;
  }

  button {
    width: 100%;
    align-self: center;
    outline: none;
    border: 1px solid #593cfb;
    border-radius: 10px;
    background-color: #593cfb;
    color: #ffff;
    margin-top: 25px;
    font-family: 'Basis Grotesque Pro Bold';
    font-size: 18px;
    text-align: center;
    padding: 7px 19px;
    cursor: pointer;
    transition: 0.8s all ease;
  }

  button:hover {
    background-color: #23108d;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes line-show {
  from {
    margin: 0px 100px;
  }
  to {
    margin: 0px;
  }
}

/* Standard syntax */
@keyframes line-show {
  from {
    margin: 0px 100px;
  }
  to {
    margin: 0px;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes p-show {
  from {
    color: white;
  }
  to {
    color: $black;
  }
}

/* Standard syntax */
@keyframes p-show {
  from {
    color: white;
  }
  to {
    color: $black;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes shadow-show {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;
    box-shadow: 0px 0px 0px 0px #e0e0e0;
  }
  to {
    -webkit-box-shadow: $card-shadow;
    box-shadow: $card-shadow;
  }
}

/* Standard syntax */
@keyframes shadow-show {
  from {
    -webkit-box-shadow: 0px 0px 0px 0px #e0e0e0;
    box-shadow: 0px 0px 0px 0px #e0e0e0;
  }
  to {
    -webkit-box-shadow: $card-shadow;
    box-shadow: $card-shadow;
  }
}
