.footerContainer {
  width: 100%;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  font-size: 16px;

  .footerContent {
    justify-content: space-between;
    min-width: 700px;

    .footerList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      h2 {
        color: rgb(35, 31, 32);
        font-family: 'Basis Grotesque Pro Bold';
        font-size: 16px;
        line-height: 1.5;
      }

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-block-start: 1em;
        list-style: none;
        font-family: 'Basis Grotesque Pro';
        font-size: 14px;
        padding-left: 0;

        li {
          margin-bottom: 4px;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .footerContainer .footerContent {
    padding: 0 50px;
    max-width: 100%;

    .footerList {
      width: 50%;
      justify-content: center;
      justify-content: flex-start;
      h2 {
        text-align: center;
      }
      ul {
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .footerContainer .footerContent {
    max-width: 250px;
    min-width: 280px;
    gap: 25px;
    .footerList {
      width: 100%;
      justify-content: flex-start;
      h2 {
        text-align: start;
      }
      ul {
        align-items: flex-start;
      }
    }
  }
}
