nav {
  font-size: 16px;
  background-color: transparent;
  height: 60px;
  flex-direction: row;
  justify-content: space-between;

  .navbar-brand {
    font-family: 'Basis Grotesque Pro Bold';
    font-size: 24px;
  }
  .nav-search {
    font-family: 'Basis Grotesque Pro Bold';
    font-size: 18px;
  }
  .header__user-icon {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5px;
    i {
      font-size: 40px;
    }
  }
  .header__user-icon:hover {
    color: rgba(0, 0, 0, 0.9);
  }
}

.dropdown-toggle::after {
  display: none;
}

#basic-nav-dropdown {
  margin-right: 100px;
}

.dropdown-menu {
  padding: 0;
}
.dropdown-item {
  padding: 0;
  padding: 0.72rem;
  color: #121214;
  font-family: 'Basis Grotesque Pro';
  transition: background-color 0.2s ease;
  &:hover {
    background-color: #573cfb;
    color: white;
    font-family: 'Basis Grotesque Pro Bold';
  }
}

.dropdown.dropdown-center {
  display: inline-block;
  width: 90px;
}
.dropdown-menu.dropdown-menu-center {
  text-align: center;
  width: 180px;
}
