.profile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .Content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;

    .profileOptions {
      display: flex;
      width: 15%;
      height: 100%;
      padding-top: 50px;
      flex-direction: column;
      justify-content: flex-start;
      border-right: 1px solid black;

      .itemListProfile {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .itemListProfile:hover {
        border-radius: 20px;
        border: 1px solid blue;
      }

      .itemListProfile:active {
        border-radius: 20px;
        background-color: rgb(177, 176, 176);
        border: 1px solid blue;
      }
    }

    .profileContent {
      width: 85%;
      height: 100%;

      .formulario > div {
        margin-bottom: 10px;
      }

      .messages {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        div {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 100px;

          img {
            height: 40%;
            width: 25%;
            border-radius: 20px;
            margin-bottom: 10px;
          }
        }

        h2 {
          margin-left: 20px;
        }
      }

      .profileInfo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 50px;

        .infoProfile {
          padding-left: 10px;
          padding-right: 10;
          width: 40%;

          .username {
            margin: 16px 0px 0px;
            color: rgb(18, 18, 20);
            font-family: 'Basis Grotesque Pro Bold';
            font-size: 38px;
            font-weight: 900;
            letter-spacing: -0.2px;
            line-height: 44px;
          }

          .info {
            margin-top: 48px;
            box-sizing: border-box;
            display: block;
            font-family: 'Basis Grotesque Pro';
            color: rgb(35, 31, 32);
            font-weight: normal;
            font-size: 16px;
            line-height: 1.5;

            p {
              margin: 0px 0px 16px;
              color: rgb(137, 137, 137);
              font-size: 12px;
              font-weight: 900;
              letter-spacing: 0.5px;
              line-height: 16px;
              text-transform: uppercase;
            }

            ul {
              display: block;
              padding-left: 0;

              li {
                list-style: none;
                display: flex;
                justify-content: space-between;

                p {
                  color: rgb(18, 18, 20);
                  font-size: 16px;
                  font-weight: 400;
                  letter-spacing: 0px;
                  text-transform: none;
                }
              }
            }
          }
        }

        .infoCars {
          display: flex;
          margin-left: 30px;
          flex-direction: row;
        }

        .userCard {
          display: flex;
          flex-direction: column;
          margin-left: 30px;
          width: 40%;
          justify-content: center;

          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            align-self: center;
          }

          .btnOptions {
            padding-top: 50px;
            display: flex;
            justify-content: space-evenly;

            button {
              height: 34px;
              width: 112px;
              align-self: center;
              outline: none;
              border: 1px solid #593cfb;
              background-color: #593cfb;
              color: #ffff;
              margin-top: 15px;
              font-family: 'Basis Grotesque Pro Bold';
              font-size: 14px;
              text-align: center;
              padding: 0 19px;
              cursor: pointer;
              transition: 0.8s all ease;
            }
            button:hover {
              background-color: #23108d;
            }
          }
        }
      }
    }
  }
}
