.SignUp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .separator {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    h2 {
      font-style: normal;
      font-weight: bolder;
      letter-spacing: -0.05em;
      color: rgba(35, 33, 48, 0.8);
      -webkit-text-stroke: 0.5px #a5a6f6;
      text-align: center;
    }
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
    margin-right: 50px;
    margin-left: 50px;
  }

  form {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .field {
      background: #f1eee7;
      border-radius: 8px;
      border: 2px solid transparent;
      height: 40px;
      width: 100%;
      align-self: center;
      padding-left: 20px;
    }

    .field::placeholder {
      font-style: normal;
      font-weight: bold;
      color: #3d4d46;
    }

    .field:hover,
    .field:focus {
      outline: none;
      border: 2px solid dodgerblue;
    }

    .names {
      width: 104.5%;
      border: 2px solid transparent;
      border-radius: 8px;
      display: flex;
      height: 40px;
      align-self: center;
      flex-direction: row;
      justify-content: space-between;

      .field {
        width: 40%;
      }
    }

    .confirm {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      label {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-items: center;

        input {
          width: auto;
          margin-right: 10px;
          background: rgba(71, 50, 50, 0.19);
          border-radius: 10px;
        }
      }
    }

    button {
      height: 40px;
      width: 50%;
      align-self: center;
      outline: none;
      border: 2px solid transparent;
      background: #14e499;
      border-radius: 10px;
      color: white;

      h2 {
        width: auto;
        height: auto;
        margin: 0;
      }
    }

    button:hover {
      border: 2px solid dodgerblue;
    }
  }
}
