html,
body,
#root {
  display: flex;
  margin: 0;
  height: 100%;
  flex-direction: column;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  .Image {
    height: 100%;
    width: 50%;

    .ImageCars {
      width: 100%;
      height: 100%;
    }
  }

  .Container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

    form {
      width: 100%;
      height: 80%;
      flex-direction: column;
      display: flex;
      justify-content: space-between;

      .Up {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
        justify-content: center;

        h2 {
          font-style: normal;
          font-weight: bolder;
          letter-spacing: -0.05em;
          color: rgba(35, 33, 48, 0.8);
          -webkit-text-stroke: 0.5px #a5a6f6;
          text-align: center;
        }

        .TypeUser {
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-around;

          .Icon {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: column;
            border: 2px solid rgba(35, 33, 48, 0);
            border-radius: 10px;
            align-items: center;
          }

          .Icon:hover {
            outline: none;
            border: 2px solid dodgerblue;
          }
        }
      }

      .Middle {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h4 {
          color: #33383d;
          margin: 20px 0 20px 0;
        }

        input {
          background: #f1eee7;
          border-radius: 8px;
          border: 2px solid transparent;
          height: 30px;
          width: 60%;
          align-self: center;
          padding-left: 20px;
        }

        input::placeholder {
          font-style: normal;
          font-weight: bold;
          color: #3d4d46;
        }

        .submit {
          width: 60%;
          align-self: center;
          height: 30px;
          background: #f1eee7;
          border: 2px solid transparent;
          border-radius: 14px;
          font-style: normal;
          font-weight: bold;
          color: #3d4d46;
        }

        .submit:active {
          background: #e0dacd;
        }

        input:hover,
        input:focus,
        .submit:hover {
          outline: none;
          border: 2px solid dodgerblue;
        }

        .google1 {
          height: 35px;
          width: 60%;
          background-color: #2d3748;
          border: 2px solid transparent;
          border-radius: 3px;
          .google {
            color: white;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            p {
              font-style: normal;
              font-weight: bold;
            }

            .imgGoogle {
              width: auto;
              height: 80%;
              border-radius: 10px;
              margin-right: 10px;
            }
          }
        }

        .google1:hover {
          outline: none;
          border: 2px solid dodgerblue;
        }

        .google1:active {
          background-color: #1a1f29;
        }
      }
    }

    .Down {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      width: 100%;
      height: auto;
      justify-content: space-between;

      .link1 {
        color: #3d4d46;
        text-decoration: none;
        font-size: 15px;
        padding-right: 30px;
        padding-left: 30px;
      }

      .link1:hover {
        text-decoration: underline;
      }

      .link1:active {
        text-decoration: underline;
        color: #202925;
      }
    }
  }
}

.ForgetPass {
  height: 100%;
  width: 100%;
  display: flex;

  form {
    margin-top: 30px;
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-style: normal;
      font-weight: bolder;
      letter-spacing: -0.05em;
      color: rgba(35, 33, 48, 0.8);
      -webkit-text-stroke: 0.5px #a5a6f6;
      text-align: center;
    }

    h4 {
      color: #33383d;
      margin: 20px 0 20px 0;
    }

    button {
      width: 15%;
      align-self: center;
      height: 30px;
      background: #f1eee7;
      border: 2px solid transparent;
      border-radius: 14px;
      font-style: normal;
      font-weight: bold;
      color: #3d4d46;
    }

    input {
      background: #f1eee7;
      border-radius: 8px;
      border: 2px solid transparent;
      height: 30px;
      width: 60%;
      align-self: center;
      padding-left: 20px;
      width: 30%;
      margin-bottom: 30px;
    }

    input::placeholder {
      font-style: normal;
      font-weight: bold;
      color: #3d4d46;
    }

    input:hover,
    input:focus,
    button:hover {
      outline: none;
      border: 2px solid dodgerblue;
    }

    button:active {
      background: #e0dacd;
    }
  }
}

.SignUp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .separator {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    text-align: center;

    h2 {
      font-style: normal;
      font-weight: bolder;
      letter-spacing: -0.05em;
      color: rgba(35, 33, 48, 0.8);
      -webkit-text-stroke: 0.5px #a5a6f6;
      text-align: center;
    }
  }

  .separator::before,
  .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
    margin-right: 50px;
    margin-left: 50px;
  }

  form {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .field {
      background: #f1eee7;
      border-radius: 8px;
      border: 2px solid transparent;
      height: 30px;
      width: 100%;
      align-self: center;
      padding-left: 20px;
    }

    .field::placeholder {
      font-style: normal;
      font-weight: bold;
      color: #3d4d46;
    }

    .field:hover,
    .field:focus {
      outline: none;
      border: 2px solid dodgerblue;
    }

    .names {
      width: 104.5%;
      border: 2px solid transparent;
      border-radius: 8px;
      display: flex;
      height: 30px;
      align-self: center;
      flex-direction: row;
      justify-content: space-between;

      .field {
        width: 40%;
      }
    }

    .confirm {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;

      label {
        width: 100%;
        display: flex;
        justify-content: start;
        flex-direction: row;

        input {
          width: auto;
          margin-right: 10px;
          background: rgba(71, 50, 50, 0.19);
          border-radius: 10px;
        }
      }
    }

    button {
      height: 40px;
      width: 50%;
      align-self: center;
      outline: none;
      border: 2px solid transparent;
      background: #14e499;
      border-radius: 10px;
      color: white;

      h2 {
        width: auto;
        height: auto;
        margin: 0;
      }
    }

    button:hover {
      border: 2px solid dodgerblue;
    }
  }
}
