html,
body,
#root {
  display: flex;
  margin: 0;
  height: 100%;
  flex-direction: column;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Login {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.Login .Image {
  height: 100%;
  width: 50%;
}
.Login .Image .ImageCars {
  width: 100%;
  height: 100%;
}
.Login .Container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.Login .Container form {
  width: 100%;
  height: 80%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.Login .Container form .Up {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: center;
}
.Login .Container form .Up h2 {
  font-style: normal;
  font-weight: bolder;
  letter-spacing: -0.05em;
  color: rgba(35, 33, 48, 0.8);
  -webkit-text-stroke: 0.5px #a5a6f6;
  text-align: center;
}
.Login .Container form .Up .TypeUser {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Login .Container form .Up .TypeUser .Icon {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(35, 33, 48, 0);
  border-radius: 10px;
  align-items: center;
}
.Login .Container form .Up .TypeUser .Icon:hover {
  outline: none;
  border: 2px solid dodgerblue;
}
.Login .Container form .Middle {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.Login .Container form .Middle h4 {
  color: #33383d;
  margin: 20px 0 20px 0;
}
.Login .Container form .Middle input {
  background: #f1eee7;
  border-radius: 8px;
  border: 2px solid transparent;
  height: 30px;
  width: 60%;
  align-self: center;
  padding-left: 20px;
}
.Login .Container form .Middle input::placeholder {
  font-style: normal;
  font-weight: bold;
  color: #3d4d46;
}
.Login .Container form .Middle .submit {
  width: 60%;
  align-self: center;
  height: 30px;
  background: #f1eee7;
  border: 2px solid transparent;
  border-radius: 14px;
  font-style: normal;
  font-weight: bold;
  color: #3d4d46;
}
.Login .Container form .Middle .submit:active {
  background: #e0dacd;
}
.Login .Container form .Middle input:hover,
.Login .Container form .Middle input:focus,
.Login .Container form .Middle .submit:hover {
  outline: none;
  border: 2px solid dodgerblue;
}
.Login .Container form .Middle .google1 {
  height: 35px;
  width: 60%;
  background-color: #2d3748;
  border: 2px solid transparent;
  border-radius: 3px;
}
.Login .Container form .Middle .google1 .google {
  color: white;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.Login .Container form .Middle .google1 .google p {
  font-style: normal;
  font-weight: bold;
}
.Login .Container form .Middle .google1 .google .imgGoogle {
  width: auto;
  height: 80%;
  border-radius: 10px;
  margin-right: 10px;
}
.Login .Container form .Middle .google1:hover {
  outline: none;
  border: 2px solid dodgerblue;
}
.Login .Container form .Middle .google1:active {
  background-color: #1a1f29;
}
.Login .Container .Down {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.Login .Container .Down .link1 {
  color: #3d4d46;
  text-decoration: none;
  font-size: 15px;
  padding-right: 30px;
  padding-left: 30px;
}
.Login .Container .Down .link1:hover {
  text-decoration: underline;
}
.Login .Container .Down .link1:active {
  text-decoration: underline;
  color: #202925;
}

.ForgetPass {
  height: 100%;
  width: 100%;
  display: flex;
}
.ForgetPass form {
  margin-top: 30px;
  display: flex;
  height: 50%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.ForgetPass form h2 {
  font-style: normal;
  font-weight: bolder;
  letter-spacing: -0.05em;
  color: rgba(35, 33, 48, 0.8);
  -webkit-text-stroke: 0.5px #a5a6f6;
  text-align: center;
}
.ForgetPass form h4 {
  color: #33383d;
  margin: 20px 0 20px 0;
}
.ForgetPass form button {
  width: 15%;
  align-self: center;
  height: 30px;
  background: #f1eee7;
  border: 2px solid transparent;
  border-radius: 14px;
  font-style: normal;
  font-weight: bold;
  color: #3d4d46;
}
.ForgetPass form input {
  background: #f1eee7;
  border-radius: 8px;
  border: 2px solid transparent;
  height: 30px;
  width: 60%;
  align-self: center;
  padding-left: 20px;
  width: 30%;
  margin-bottom: 30px;
}
.ForgetPass form input::placeholder {
  font-style: normal;
  font-weight: bold;
  color: #3d4d46;
}
.ForgetPass form input:hover,
.ForgetPass form input:focus,
.ForgetPass form button:hover {
  outline: none;
  border: 2px solid dodgerblue;
}
.ForgetPass form button:active {
  background: #e0dacd;
}

.SignUp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SignUp .separator {
  width: 100%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: center;
}
.SignUp .separator h2 {
  font-style: normal;
  font-weight: bolder;
  letter-spacing: -0.05em;
  color: rgba(35, 33, 48, 0.8);
  -webkit-text-stroke: 0.5px #a5a6f6;
  text-align: center;
}
.SignUp .separator::before,
.SignUp .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
  margin-right: 50px;
  margin-left: 50px;
}
.SignUp form {
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.SignUp form .field {
  background: #f1eee7;
  border-radius: 8px;
  border: 2px solid transparent;
  height: 30px;
  width: 100%;
  align-self: center;
  padding-left: 20px;
}
.SignUp form .field::placeholder {
  font-style: normal;
  font-weight: bold;
  color: #3d4d46;
}
.SignUp form .field:hover,
.SignUp form .field:focus {
  outline: none;
  border: 2px solid dodgerblue;
}
.SignUp form .names {
  width: 104.5%;
  border: 2px solid transparent;
  border-radius: 8px;
  display: flex;
  height: 30px;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
}
.SignUp form .names .field {
  width: 40%;
}
.SignUp form .confirm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.SignUp form .confirm label {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: row;
}
.SignUp form .confirm label input {
  width: auto;
  margin-right: 10px;
  background: rgba(71, 50, 50, 0.19);
  border-radius: 10px;
}
.SignUp form button {
  height: 40px;
  width: 50%;
  align-self: center;
  outline: none;
  border: 2px solid transparent;
  background: #14e499;
  border-radius: 10px;
  color: white;
}
.SignUp form button h2 {
  width: auto;
  height: auto;
  margin: 0;
}
.SignUp form button:hover {
  border: 2px solid dodgerblue;
}

/*# sourceMappingURL=App.css.map */
